/* Css Reset */
*{ 
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.sidebar{
    background-color: red;
    width: 7vw;
    height: 100vh;
}

.main{
    background-color: yellow;
    width: 93vw;
}